			<h1 class="page-header"><p class="text-center">New Account</p></h1>
			<%= render 'form' %>
			<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, :back, class: "btn btn-danger" %>
			</div>
		</div>
	</div>
</div>
