				<h1 class="page-header"><p class="text-center">Editing Article</p></h1>
				<%= render 'form' %>
				<%= link_to '<span class="glyphicon glyphicon glyphicon-sunglasses"></span>&nbsp;Show'.html_safe, @article, class: "btn btn-info" %>
				<%= link_to '<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back'.html_safe, articles_path, class: "btn btn-danger" %>
			</div>
		</div>
	</div>
</div>
