<!DOCTYPE html>
<html>
  <head>
    <title>Error:404 in SkeyesAd</title>
    <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	<h1>error 500 personalizado</h1>
    <%= javascript_include_tag 'backend', 'data-turbolinks-track' => true %>
  </body>
</html>

